.svn
build_output
code_drop
bin
obj
_ReSharper*
/packages
App_Data
.vs

*.suo
*.user 
*.csproj.user
*.DotSettings.user
*.[rR]esharper.user
*.cache
*~
*.swp
*.orig
*.log
*.sln.docstates
*.results.xml
*.bak
 
TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb

.DS_Store
Thumbs.db

# Project Specific
!gems/bin

# Build related
tools/**
!tools/packages.config
!tools/Addins/packages.config
!tools/Modules/packages.config
BuildArtifacts/
code_drop/